{% extends 'ccd/base.html' %}

{% block title %}Login{% endblock %}

{% block body %}

    {% load staticfiles %}

    <div class="row justify-content-center" style="padding-top: 60px; padding-right: 0px; margin: 0px;">
    <div class="col-md-4 col-sm-12" style="margin:15px 0px; float: none; vertical-align: center;">
        <div class="card blue darken-4">
            <div class="card-header">
                Login
            </div>
            <div class="card-body grey lighten-4">
                <div id="login">
                    <div class="card-text black-text ">
                        <div class="row" >
                            <form class="col-sm-12" role="form" action="{% url 'ccd:changepassword' %}" method="post" enctype="multipart/form-data" autocomplete="true">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.GET.next }}" />
                                <div class="row" style="padding: 15px;">
                                    <div class="text-danger">{{ login_error_message }}</div>
                                    {% if messages %} {% for message in messages %}
                                    <div class="row card-message" style="font-size: 12pt;">
                                        <div class="col-sm-12">{{message}}
                                        </div>
                                    </div>
                                    {% endfor %}{% endif %}
                                </div>
                                <div class="row">
                                    <div class="input-field col-sm-12 ">
                                        <label for="password" class="col-form-label">New Password</label>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fas fa-user"></i></div>
                                            </div>
                                            <input class="form-control validate" id="password" placeholder="" name="password" maxlength="30" required="true" type="password" autofocus="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 offset-md-4">
                                        <button class="btn btn-primary col-sm-12" type="submit" name="action">Change</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
